.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-button {
    width: 50px;
    height: 50px;
    border: 2px solid palevioletred;
    background-color: palevioletred;
    color: white;
    font-size: 24px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 24px;
}

.file-upload-input {
    display: none;
}

.main-text {
    text-align: center;
}

.gallery {
    width: 500px;
    border: 2px dashed red;
    /* white-space: nowrap; */
    /* overflow: auto; */
    overflow: scroll;
}

.img-item {
    width: 150px;
    height: 150px;
    min-width: 150px;
    max-width: 150px;
    /* border: 2px dashed red; */
    overflow: hidden;
}

.img-item img {
    width: 150px;
    height: 150px;
    min-width: 150px;
    max-width: 150px;
    border-radius: 20px;
}
